.rowlogin{
	margin-top: 80px;

}

.login{
	width: 100%;
}

.informacoes{
	width: 100%;
	height: 100%;
	background-color: #D3D3D3;
	border-radius: 4px;
	padding: 7px;
	text-align: center;
}

/*Hover imaagens*/
img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

/*Definindo o tamanho do botão de login*/
button{
	width: 49.5%; 
}

.loginbtn{
	width: 49.5%; 	
}




/* CSS da página de error de login*/
#error{
	border-radius: 3px;
	width: 400px;
	height: 92px;
	background-color: white;
	margin: 90px auto;
	padding-top: 14px;
	text-align: center;

}

#log-btn {
  background: #0AC986;
  display: inline-block;
  padding-top: 15px;
  text-align: center;
  width: 30%;
  font-size: 17px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 2px;
}